/* use 'font-display: swap' inside of the @font-face 
(or 'font-display: block' if you need to show a text only with a particular font (blocks rendering)) */
/* if possible, use woff2 fonts */
/* example: 
@font-face {
    src: local('Awesome Font'), url('/fonts/awesome.woff2') format('woff2');
    font-display: swap;
    font-family: 'Awesome Font';
    font-style: normal;
    font-weight: 400;
}
*/
