<section class="intro splide" aria-label="Portfolio works carousel">
    <div class="splide__track">
        <ul class="splide__list">
            <li class="intro-item splide__slide">
                <div class="image intro-item__cover">
                    <img data-src="home-intro/intro-aquarium.webp" alt="A screenshot of the 'Aquarium' website main page" class="lazy-image" width="1921px" height="918px">
                </div>
                <div class="intro-item__info">
                    <div class="container">
                        <div class="intro-item__descr">
                            <h2 class="title title--lg">
                                Aquarium
                            </h2>
                            <h3 class="subtitle">
                                Landing page of an entertainment center.
                            </h3>
                        </div>
                        <div class="intro-item__links">
                            <a href="https://dmitriyr54.github.io/aquarium/" target="blank" class="btn btn--alt btn--ext-link intro__link">
                                Visit the website
                            </a>
                            <a href="#" class="btn btn--external-link intro__link">
                                Learn more
                            </a>
                        </div>
                    </div>
                </div>
            </li>
            <li class="intro-item splide__slide">
                <div class="image intro-item__cover">
                    <img data-src="home-intro/intro-ddd.webp" alt="A screenshot of the 'Demonic Denosaur Division NFT' website main page" class="lazy-image" width="1915px" height="920px">
                </div>
                <div class="intro-item__info">
                    <div class="container">
                        <div class="intro-item__descr">
                            <h2 class="title title--lg">
                                DDD NFT
                            </h2>
                            <h3 class="subtitle">
                                Landing page for an NFT project.
                            </h3>
                        </div>
                        <div class="intro-item__links">
                            <a href="https://dddnft.xyz/" target="blank" class="btn btn--alt btn--ext-link intro__link">
                                Visit the website
                            </a>
                            <a href="#" class="btn btn--external-link intro__link">
                                Learn more
                            </a>
                        </div>
                    </div>
                </div>
            </li>
            <li class="intro-item splide__slide">
                <div class="image intro-item__cover">
                    <img data-src="home-intro/intro-findscan.webp" alt="A screenshot of the 'FindScan' website main page" class="lazy-image" width="1912px" height="924px">
                </div>
                <div class="intro-item__info">
                    <div class="container">
                        <div class="intro-item__descr">
                            <h2 class="title title--lg">
                                FindScan
                            </h2>
                            <h3 class="subtitle">
                                Multipage website template for a WEB-3 platform.
                            </h3>
                        </div>
                        <div class="intro-item__links">
                            <a href="#" class="btn btn--alt btn--ext-link intro__link">
                                Visit the website
                            </a>
                            <a href="#" class="btn btn--external-link intro__link">
                                Learn more
                            </a>
                        </div>
                    </div>
                </div>
            </li>
            <li class="intro-item splide__slide">
                <div class="image intro-item__cover">
                    <img data-src="home-intro/intro-brume.webp" alt="A screenshot of the 'Brume Interior' website main page" class="lazy-image" width="1912px" height="924px">
                </div>
                <div class="intro-item__info">
                    <div class="container">
                        <div class="intro-item__descr">
                            <h2 class="title title--lg">
                                Brume Interior
                            </h2>
                            <h3 class="subtitle">
                                Multipage website of a design studio.
                            </h3>
                        </div>
                        <div class="intro-item__links">
                            <a href="https://dmitriyr54.github.io/brume-interior/" target="blank" class="btn btn--alt btn--ext-link intro__link ">
                                Visit the website
                            </a>
                            <a href="#" class="btn intro__link">
                                Learn more
                            </a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <!-- the progress bar element -->
    <div class="my-carousel-progress">
        <div class="my-carousel-progress-bar"></div>
    </div>
</section>