@use '../../../../styles/vars';

.intro {
    background-color: var(--intro-bg-color);

    .splide__arrow {
        background-color: var(--main-color);
        transition: vars.$transition;
        opacity: 0.5;
        outline-color: vars.$red !important;

        &:disabled {
            opacity: 0;
            cursor: default;
        }

        svg {
            fill: vars.$red;
        }
    }

    /* bottom progress bar */
    .my-carousel-progress {
        background-color: var(--intro-bg-color);
        transition: vars.$transition;
    }

    .my-carousel-progress-bar {
        width: 0;
        height: 5px;
        background-color: vars.$red;
        transition: width vars.$transition;
    }
}

/* single carousel item */
.intro-item {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    min-height: calc(100vh - 5px);
}

/* background image */
.image.intro-item__cover {
    grid-column: 1;
    grid-row: 1;
    z-index: 1;

    .lazy-image {
        min-width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

/* item info */
.intro-item__info {
    grid-column: 1;
    grid-row: 1;
    padding: 200px 100px 100px;
    background-color: var(--intro-bg-color);
    transition: vars.$transition;
    transition-property: background-color;
    position: relative;
    z-index: 2;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: vars.$mg-lg;
    }
}

/* wrapper for the name and the description */
.intro-item__descr {
    width: 60%;
}

/* wrapper for the links */
.intro-item__links {
    display: flex;
    flex-direction: column;
    row-gap: vars.$mg;
    margin-top: auto;
}

/* single item's link */
.intro__link {
    width: 100%;
}

/* SCREEN ADAPTATION */
@media (max-width: vars.$smallScreen) {
    /* item info */
    .intro-item__info {
        padding: 200px 75px 75px;
    }

    /* wrapper for the name and the description */
    .intro-item__descr {
        width: auto;
    }

    /* wrapper for the links */
    .intro-item__links {
        min-width: 250px;
    }
}

/* tablets */
@media (max-width: vars.$tablet) {
    /* item info */
    .intro-item__info {
        .container {
            flex-wrap: wrap;
        }
    }

    /* wrapper for the name and the description */
    .intro-item__descr {
        width: 100%;
        text-align: center;
    }

    /* wrapper for the links */
    .intro-item__links {
        width: 100%;
    }

    /* single item's link */
    .intro__link {
        margin-right: auto;
        margin-left: auto;
    }
}

/* mobile phones */
@media (max-width: vars.$phone) {
    .intro {
        .splide__arrow--prev {
            left: 5px;
        }

        .splide__arrow--next {
            right: 5px;
        }
    }

    /* item info */
    .intro-item__info {
        padding: 250px 0px 200px;
    }
}
