@use '../../styles/vars';

.header {
    background-color: var(--main-color-alpha);
    box-shadow: 0 0 10px 10px var(--main-color-alpha);
    transition: vars.$transition;
    transition-property: background-color, box-shadow;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5px;
}

/* logotype */
.header__logo {
    svg {
        display: block;
        width: 250px;

        path {
            transition: vars.$transition;

            &:first-child {
                stroke: var(--secondary-color);
            }

            &:last-child {
                fill: var(--secondary-color);
            }
        }
    }
}

/* navigation list <ul> */
.header__links-list {
    display: flex;
    align-items: center;
    column-gap: 40px;
    overflow: auto;
}

/* navigation list item <li> */
.header__list-item {
    visibility: inherit;

    /* direct (any) child element */
    & > * {
        visibility: inherit;
    }
}

/* single header link <a> */
.header__link {
    font-weight: 500;
}

/* burger button */
.header__nav-btn {
    display: none;
    background-color: transparent;
    border: none;
    transition: vars.$transition;
    transition-property: transform, opacity;
    cursor: pointer;
    position: relative;
    width: 36px;
    height: 32px;

    &:hover {
        opacity: 0.5;
    }

    span {
        display: inline-block;
        transition: vars.$transition;
        position: absolute;
        left: 0;
        width: 100%;
        height: 4px;
        background-color: var(--secondary-color);
        border-radius: 4px;

        &:nth-of-type(1) {
            top: 0;
        }

        &:nth-of-type(2) {
            top: 14px;
        }

        &:nth-of-type(3) {
            bottom: 0;
        }
    }

    &.header__nav-btn--active {
        transform: rotate(-180deg) scale(-1, -1);

        span {
            &:nth-of-type(1) {
                width: 20px;
                transform: translate3d(-3px, 8px, 0) rotate(-45deg);
            }

            &:nth-of-type(3) {
                width: 20px;
                transform: translate3d(-3px, -8px, 0) rotate(45deg);
            }
        }
    }
}

/* SCREEN ADAPTATION */
@media (max-width: vars.$smallScreen) {
    /* navigation list <ul> */
    .header__links-list {
        flex-direction: column;
        align-items: center;
        padding: 200px 0;
        row-gap: 40px;
        background-color: var(--main-color-alpha);
        opacity: 0;
        transition: vars.$transition;
        visibility: hidden;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;

        &.header__links-list--active {
            opacity: 1;
            visibility: visible;
            z-index: 1;

            .header__list-item {
                transform: translate3d(0, 0, 0);
            }
        }
    }

    /* navigation list item <li> */
    .header__list-item {
        width: 100%;
        text-align: center;
        transform: translate3d(-100%, 0, 0);
        transition: vars.$transition;
    }

    @for $i from 1 through 4 {
        .header__list-item:nth-child(#{$i}) {
            transition-delay: calc(0.025s * $i);
        }
    }

    /* single header link <a> */
    a.header__link {
        font-size: 26px;
    }

    /* burger button */
    .header__nav-btn {
        display: block;
        position: relative;
        z-index: 2;
    }
}

/* tablets */
@media(max-width: vars.$tablet){
    .header__inner{
        padding: 10px 0;
    }
}

/* mobile phones */
@media (max-width: vars.$phone) {
    /* logotype */
    .header__logo {
        svg {
            width: 200px;
        }
    }
}
