<section class="freelance">
    <div class="container">
        <div class="freelance__inner">
            <h2 class="title">
                Are you looking for a freelancer?
            </h2>
            <h3 class="subtitle">
                Check out the advantages of the websites that I make:
            </h3>
            <p class="paragraph">lorem</p>
        </div>
    </div>
</section>