@use '../fonts/fonts.scss';
@use './_vars.scss';
@use './components.scss';

* {
    /* reset default styles */
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    /* set common styles */
}

/* make the footer always stick to the bottom even if there's no content on the page */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* SCREEN ADAPTATION */
@media (max-width: vars.$smallScreen) {
}

/* tablets */
@media (max-width: vars.$tablet) {
}

/* mobile phones */
@media (max-width: vars.$phone) {
}
