@use '../../../../styles/vars';

.bio__title {
    span {
        display: inline-block;
        color: var(--secondary-color);
        transition: vars.$transition;
        transition-property: color;
    }

    .paragraph {
        margin-bottom: 10px;
        font-size: 24px;
        font-weight: 500;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.bio__title-hey {
    margin-bottom: 40px;

    span {
        margin-top: 50px;
        font-size: 72px;
        transform-origin: bottom;
        pointer-events: none;
    }
}

.bio__emoji {
    display: block;
    width: 80px;
    transform: translateY(25%);
}
