@use '../../../../styles/vars';

/* section margin bottom */
.bio {
    margin: 100px 0 200px;

    span {
        display: inline-block;
    }
}

.bio__title {
    margin-bottom: vars.$mg-lg;
    letter-spacing: -3px;

    span {
        font-size: 72px;
    }
}

/* emoji */
.bio__emoji {
    display: block;
    width: 60px;
    margin-left: vars.$mg-sm;
    transform: translateY(10%);
}
