@use '../../../../styles/vars';

/* section margin bottom */
.bio {
    span {
        display: inline-block;
    }

    /* HEEY text */
    .title {
        margin-bottom: vars.$mg-lg;
    }
}

/* emoji */
.bio__emoji {
    display: block;
    width: 60px;
    margin-left: vars.$mg-sm;
    transform: translateY(10%);
}
