<section class="bio">
    <div class="container">
        <div class="bio__inner">
            <h1 class="bio__title">
                <p class="bio__title-hey" aria-label="Hey">
                    <span aria-hidden="true">H</span>
                    <span aria-hidden="true">e</span>
                    <span aria-hidden="true">e</span>
                    <span aria-hidden="true">y</span>
                    <span aria-hidden="true">
                        <svg class="bio__emoji">
                            <use xlink:href="../../images/icons/emoji/hello.svg#emoji-hello"></use> 
                        </svg>
                    </span>
                </p>
                <p class="paragraph">
                    <span>My name is</span>
                    <span>Dmytro Ruptash</span>
                    <span>and I'm a web-developer.</span>
                </p>
                <p class="paragraph">
                    <span>I can create for you an exciting website,</span>
                    <span> which will impress your users!</span>
                </p>
            </h1>
        </div>
    </div>
</section>