@use '../../../../styles/vars';

.freelance__inner {
    .list {
        margin-bottom: vars.$mg;
    }
}

/* CV section */
.cv__inner {
    .btn {
        margin-bottom: vars.$mg-lg;
    }
}

.cv__paragraph-wrapper {
    display: flex;
    align-items: flex-start;
    column-gap: vars.$mg-sm;
}
