<header class="header">
    <div class="container">
        <div class="header__inner">
            header
            <a href="#">link</a>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deleniti, molestiae neque ducimus tenetur excepturi repellat?</p>
            <ul>
                <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum doloribus repellendus provident tenetur, vitae, totam assumenda repudiandae facere quidem earum officiis quaerat saepe corrupti? Atque ea tempore inventore? Ullam, nemo.</li>
                <li>Rerum saepe, consequatur aperiam autem modi veritatis quos perspiciatis assumenda sed nemo vel quibusdam quod, itaque dolor, cum dolorem illo dolorum fuga neque ab aliquid sint voluptatum odit. Aliquam, suscipit.</li>
                <li>Enim aut obcaecati, voluptatem deserunt sunt alias quasi. Eaque molestiae ipsam sapiente velit quasi, nobis eveniet quam in magni perferendis dicta eius sequi omnis veritatis vel expedita sit laudantium ex!</li>
                <li>Quos aperiam aspernatur, rem laborum alias dolore omnis molestias recusandae fugiat aliquam magnam perferendis officiis temporibus exercitationem saepe numquam quidem iure labore maiores architecto? Quos est quis nemo quia provident.</li>
                <li>Repellat dicta deleniti magnam minima laudantium similique veniam nulla, reprehenderit doloremque suscipit quas officia neque non sit repellendus temporibus tempora cumque vel eveniet unde nihil. Incidunt placeat hic ab similique.</li>
            </ul>
        </div>
    </div>
</header>