@use '../../styles/vars';
@use '../../styles/typography.scss';

.link {
    @include typography.text;

    padding-bottom: 5px;
    font-size: 18px;
    transition-property: color, opacity;
    position: relative;

    /* link underline */
    &::after {
        content: '';
        width: 99%;
        height: 2px;
        background-color: var(--secondary-color);
        border-radius: 6px;
        opacity: 0.75;
        transform: translate3d(-50%, 0, 0);
        transition: vars.$transition;
        position: absolute;
        left: 50%;
        bottom: 0;
        z-index: 1;
    }

    &:hover,
    &:focus {
        &::after {
            opacity: 0;
            transform: translate3d(-50%, -3px, 0);
        }
    }

    &:active {
        opacity: 0.5;
    }
}
