@use '../_vars.scss';

/* dark theme for the whole website */
body.dark-theme {
    /* colors */
    --main-color: #{vars.$black};
    --secondary-color: #{vars.$white};

    /* colors with transparency */
    --main-color-alpha: rgba(20, 20, 20, 0.99);
}
