@use '../../styles/_vars.scss';

/* main button styles */
.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: transparent;
    border: 3px solid transparent;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    text-shadow: 0 0 1px rgba(vars.$black, 0.15);
    text-align: center;
    transition: vars.$transition;
    transition-property: color, border-color, transform;
    cursor: pointer;
    overflow: hidden;
    position: relative;

    /* gradient background */
    &::before {
        content: '';
        width: calc(100% + 6px);
        height: calc(100% + 6px);
        transform-origin: right;
        transition: vars.$transition;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }

    &:hover {
        &::before {
            transform: scaleX(3.4);
        }
    }

    &:active {
        transform: scale(0.95);
    }
}

/* icon for the external link */
.btn--ext-link {
    padding-right: 35px;

    &::after {
        width: 15px;
        transform: translate3d(0, 50%, 0);
        opacity: 0;
        transition: vars.$transition;
        position: absolute;
        top: 5px;
        right: 10px;
    }

    &:hover {
        &::after {
            transform: translate3d(0, 0, 0);
            opacity: 1;
        }
    }
}

/* dark website theme */
body.dark-theme {
    /* main button styles */
    .btn {
        color: vars.$white;
        border-color: rgba(vars.$white, 0.2);

        &::before {
            background-image: linear-gradient(
                to right,
                lighten(vars.$black, 15%) 25%,
                lighten(vars.$black, 12%) 25% 40%,
                lighten(vars.$black, 9%) 40% 55%,
                lighten(vars.$black, 6%) 55% 70%,
                lighten(vars.$black, 3%) 70%
            );
        }
    }

    /* alternative button styles */
    .btn--alt {
        color: vars.$black;
        border-color: rgba(vars.$black, 0.2);

        &::before {
            background-image: linear-gradient(
                to right,
                vars.$white 25%,
                darken(vars.$white, 3%) 25% 40%,
                darken(vars.$white, 6%) 40% 55%,
                darken(vars.$white, 9%) 55% 70%,
                darken(vars.$white, 12%) 70%
            );
        }
    }

    /* icon for the external link */
    .btn--ext-link {
        &::after {
            content: url('../images/icons/ext-link-light.svg');
        }

        &.btn--alt {
            &::after {
                content: url('../images/icons/ext-link-dark.svg');
            }
        }
    }
}

body.light-theme {
    /* main button styles */
    .btn {
        color: vars.$black;
        border-color: rgba(vars.$black, 0.2);

        &::before {
            background-image: linear-gradient(
                to right,
                vars.$white 25%,
                darken(vars.$white, 3%) 25% 40%,
                darken(vars.$white, 6%) 40% 55%,
                darken(vars.$white, 9%) 55% 70%,
                darken(vars.$white, 12%) 70%
            );
        }
    }

    /* alternative button styles */
    .btn--alt {
        color: vars.$white;
        border-color: rgba(vars.$white, 0.2);

        &::before {
            background-image: linear-gradient(
                to right,
                lighten(vars.$black, 15%) 25%,
                lighten(vars.$black, 12%) 25% 40%,
                lighten(vars.$black, 9%) 40% 55%,
                lighten(vars.$black, 6%) 55% 70%,
                lighten(vars.$black, 3%) 70%
            );
        }
    }

    /* icon for the external link */
    .btn--ext-link {
        &::after {
            content: url('../images/icons/ext-link-dark.svg');
        }

        &.btn--alt {
            &::after {
                content: url('../images/icons/ext-link-light.svg');
            }
        }
    }
}
