<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="footer__copyright">
                <svg class="icon">
                    <use href="../../images/icons/copyright.svg#icon-copyright"></use>
                </svg>
                <p class="paragraph paragraph--sm">
                    Designed and developed by DmitriyR54 | 2023
                </p>
            </div>
            <ul class="footer__social">
                <li>
                    <a href="mailto:45ryirtimd@gmail.com" class="footer__social-link" title="Send me a letter">
                        <svg class="icon icon--lg icon--link">
                            <use href="../../images/icons/social/email.svg#icon-email"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/dmytro-ruptash/" target="blank" class="footer__social-link" title="My Linkedin profile">
                        <svg class="icon icon--lg icon--link">
                            <use href="../../images/icons/social/linkedin.svg#icon-linkedin"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="https://t.me/dmitriyr54/" target="blank" class="footer__social-link" title="Start chatting with me">
                        <svg class="icon icon--lg icon--link">
                            <use href="../../images/icons/social/telegram.svg#icon-telegram"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>