<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="footer__copyright">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="1.25 1.25 21.5 21.5" aria-label="copyright icon" fill="#141414" class="icon">
                    <path d="M12 22C6.48 22 2 17.52 2 12C2 6.48 6.48 2 12 2C17.52 2 22 6.48 22 12C22 17.52 17.52 22 12 22Z" stroke="#d9d9d9" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path d="M14.88 15C14.17 15.62 13.25 16 12.24 16C10.03 16 8.23999 14.21 8.23999 12C8.23999 9.79 10.03 8 12.24 8C13.25 8 14.17 8.38 14.88 9" stroke="#d9d9d9" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
                <p class="paragraph paragraph--sm">
                    Designed and developed by DmitriyR54 | 2023
                </p>
            </div>
            <ul class="footer__social">
                <li>
                    <a href="mailto:45ryirtimd@gmail.com" class="footer__social-link" title="Send me a letter">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="1.5 3.75 21 16.5" aria-label="email icon" fill="#141414" stroke="#d9d9d9" stroke-width="1.5" class="icon icon--lg icon--link">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75"></path>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/dmytro-ruptash/" target="blank" class="footer__social-link" title="My Linkedin profile">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" aria-label="linkedin icon" class="icon icon--lg icon--link">
                            <path fill="#141414" d="M16.005 31.239c-8.409 0-15.25-6.841-15.25-15.25S7.596.739 16.005.739s15.25 6.841 15.25 15.25-6.841 15.25-15.25 15.25z"></path>
                            <path fill="#d9d9d9" d="M16.005 1.489c7.995 0 14.5 6.505 14.5 14.5s-6.505 14.5-14.5 14.5-14.5-6.505-14.5-14.5 6.505-14.5 14.5-14.5m0-1.5c-8.837 0-16 7.163-16 16 0 8.836 7.163 16 16 16s16-7.164 16-16-7.163-16-16-16z"></path>
                            <path fill="#d9d9d9" d="M24.299 22.932v-6.137c0-3.288-1.755-4.818-4.096-4.818-1.889 0-2.735 1.039-3.206 1.768v-1.517h-3.558c.047 1.005 0 10.704 0 10.704h3.558v-5.978c0-.319.023-.639.117-.867.257-.639.842-1.301 1.825-1.301 1.288 0 1.803.981 1.803 2.42v5.727l3.557-.001zM9.69 10.767c1.24 0 2.013-.823 2.013-1.85-.023-1.05-.773-1.849-1.99-1.849s-2.012.798-2.012 1.848c0 1.028.772 1.85 1.967 1.85h.022zm1.779 12.165V12.228H7.912v10.704h3.557z"></path>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="https://t.me/dmitriyr54/" target="blank" class="footer__social-link" title="Start chatting with me">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" aria-label="telegram icon" class="icon icon--lg icon--link">
                            <circle cx="16" cy="16" r="16" fill="#d9d9d9"></circle>
                            <circle cx="16" cy="16" r="14.5" fill="#141414"></circle>
                            <path d="M22.9866 10.2088C23.1112 9.40332 22.3454 8.76755 21.6292 9.082L7.36482 15.3448C6.85123 15.5703 6.8888 16.3483 7.42147 16.5179L10.3631 17.4547C10.9246 17.6335 11.5325 17.541 12.0228 17.2023L18.655 12.6203C18.855 12.4821 19.073 12.7665 18.9021 12.9426L14.1281 17.8646C13.665 18.3421 13.7569 19.1512 14.314 19.5005L19.659 22.8523C20.2585 23.2282 21.0297 22.8506 21.1418 22.1261L22.9866 10.2088Z" fill="#d9d9d9"></path>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>