<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="footer__copyright">
                <svg class="icon">
                    <use href="../../images/icons/copyright.svg#icon-copyright"></use>
                </svg>
                <p class="paragraph paragraph--sm">
                    Designed and developed by DmitriyR54 | 2023
                </p>
            </div>
        </div>
    </div>
</footer>