<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="footer__copyright">
                <img src="../../images/icons/copyright.svg" alt="copyright icon" class="icon">
                <p class="paragraph paragraph--sm">
                    Designed and developed by DmitriyR54 | 2023
                </p>
            </div>
            <ul class="footer__social">
                <li>
                    <a href="mailto:45ryirtimd@gmail.com" class="footer__social-link" title="Send me a letter">
                        <img src="../../images/icons/social/email.svg" alt="email icon" class="icon icon--lg icon--link">
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/dmytro-ruptash/" target="blank" class="footer__social-link" title="My Linkedin profile">
                        <img src="../../images/icons/social/linkedin.svg" alt="linkedin icon" class="icon icon--lg icon--link">
                    </a>
                </li>
                <li>
                    <a href="https://t.me/dmitriyr54/" target="blank" class="footer__social-link" title="Start chatting with me">
                        <img src="../../images/icons/social/telegram.svg" alt="telegram icon" class="icon icon--lg icon--link">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>