/* screen sizes */
$smallScreen: 1024px;
$tablet: 768px;
$phone: 576px;

/* colors */
$black: rgb(20, 20, 20);
$white: rgb(217, 217, 217);
$red: rgb(207, 48, 48);
$blue: rgb(45, 64, 89);
$orange: rgb(232, 138, 26);

$transition: 0.35s ease-out;

/* indents */
$mg-sm: 10px;
$mg: 20px;
$mg-lg: 40px;
