/* color themes */
@use './color-themes/dark-theme.scss';
@use './color-themes/light-theme.scss';
/* fonts */
@use '../fonts/fonts.scss';
/* text classes */
@use './typography.scss';
/* components */
@use '../components/button/button.scss';
@use '../components/link/link.scss';
@use './icons.scss';
/* variables */
@use './_vars.scss';

*,
*::before,
*::after {
    /* reset default styles */
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    /* set common styles */
    color: inherit;
    font-family: 'Raleway', sans-serif;
    line-height: 150%;
    text-wrap: balance;
}

/* customize the scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

/* background */
::-webkit-scrollbar-track {
    background-color: rgba(vars.$black, 0.25);
}

/* thumb */
::-webkit-scrollbar-thumb {
    background-color: rgba(vars.$white, 0.8);
    border: 1px solid rgba(vars.$black, 0.8);
    border-radius: 4px;
}

/* thumb on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: rgba(vars.$white, 0.6);
}

/* thumb on mouse down */
::-webkit-scrollbar-thumb:active {
    background-color: rgba(vars.$white, 0.4);
}

/* color of the selected text */
::selection {
    color: var(--main-color);
    background-color: var(--secondary-color);
}

html{
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--main-color);
    background-size: cover;

    &.dark-theme {
        background-image: url('../images/backgrounds/body-bg-dark.svg');
    }

    &.light-theme {
        background-image: url('../images/backgrounds/body-bg-light.svg');
    }
}

/* main content */
main {
    padding-bottom: 100px;
    overflow: hidden;
}

section {
    padding-top: 100px;

    &:first-child {
        padding-top: 150px;
    }
}

/* main size container */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 25px;
}

/* SCREEN ADAPTATION */
@media (max-width: vars.$smallScreen) {
}

/* tablets */
@media (max-width: vars.$tablet) {
    main{
        padding-bottom: 75px;
    }

    section {
        padding-top: 75px;

        &:first-child {
            padding-top: 100px;
        }
    }
}

/* mobile phones */
@media (max-width: vars.$phone) {
}
