/* variables */
@use './_vars.scss';
/* color themes */
@use './color-themes/dark-theme.scss';
@use './color-themes/light-theme.scss';
/* fonts */
@use '../fonts/fonts.scss';
/* text classes */
@use './_typography.scss';
/* components */
@use '../components/button/_button.scss';
@use '../components/link/link';

*,
*::before,
*::after {
    /* reset default styles */
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    /* set common styles */
    line-height: 150%;
}

/* main size container */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/* prevent scrolling */
.no-scroll {
    overflow: hidden !important;
}

/* SCREEN ADAPTATION */
@media (max-width: vars.$smallScreen) {
}

/* tablets */
@media (max-width: vars.$tablet) {
}

/* mobile phones */
@media (max-width: vars.$phone) {
}
