/* color themes */
@use './color-themes/dark-theme.scss';
@use './color-themes/light-theme.scss';
/* fonts */
@use '../fonts/fonts.scss';
/* text classes */
@use './typography.scss';
/* components */
@use '../components/button/button.scss';
@use '../components/link/link.scss';
@use './icons.scss';
/* variables */
@use './_vars.scss';

*,
*::before,
*::after {
    /* reset default styles */
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    /* set common styles */
    font-family: 'Raleway', sans-serif;
    line-height: 150%;
    text-wrap: balance;
}

/* customize the scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

/* background */
::-webkit-scrollbar-track {
    background-color: rgba(vars.$black, 0.25);
}

/* thumb */
::-webkit-scrollbar-thumb {
    background-color: rgba(vars.$white, 0.8);
    border: 1px solid rgba(vars.$black, 0.8);
    border-radius: 4px;
}

/* thumb on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: rgba(vars.$white, 0.6);
}

/* thumb on mouse down */
::-webkit-scrollbar-thumb:active {
    background-color: rgba(vars.$white, 0.4);
}

/* color of the selected text */
::selection {
    color: var(--main-color);
    background-color: var(--secondary-color);
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--main-color);
    background-size: cover;

    &.dark-theme {
        background-image: url('../images/backgrounds/body-bg-dark.svg');

        .os-scrollbar {
            --os-handle-bg: rgba(217, 217, 217, 0.25);
            --os-handle-bg-hover: rgba(217, 217, 217, 0.75);
            --os-handle-bg-active: rgba(217, 217, 217, 0.85);
        }
    }

    &.light-theme {
        background-image: url('../images/backgrounds/body-bg-light.svg');

        .os-scrollbar {
            --os-handle-bg: rgba(20, 20, 20, 0.25);
            --os-handle-bg-hover: rgba(20, 20, 20, 0.75);
            --os-handle-bg-active: rgba(20, 20, 20, 0.85);
        }
    }
}

/* main content */
main {
    padding: 150px 0 100px;
    overflow: hidden;
}

section {
    margin-bottom: 100px;

    &:last-child {
        margin-bottom: 0;
    }
}

/* main size container */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/* prevent scrolling */
.no-scroll {
    overflow: hidden !important;
}

/* SCREEN ADAPTATION */
@media (max-width: vars.$smallScreen) {
}

/* tablets */
@media (max-width: vars.$tablet) {
    section {
        margin-bottom: 75px;
    }

    /* main size container */
    .container {
        padding: 0 10px;
    }
}

/* mobile phones */
@media (max-width: vars.$phone) {
    /* main size container */
    .container {
        padding: 0 5px;
    }
}
