@use './vars';

@mixin text {
    color: var(--secondary-color);
    transition: vars.$transition;
    transition-property: color;
    letter-spacing: 1px;

    &:last-child {
        margin-bottom: 0;
    }
}

/* <h1> || <h2> */
.title {
    @include text;

    margin-bottom: 5px;
    font-size: 36px;
    font-weight: 700;

    &.title--lg {
        font-size: 48px;
    }
}

/* <h3> */
.subtitle {
    @include text;

    margin-bottom: vars.$mg;
    font-size: 22px;
    font-weight: 500;
}

/* <p> */
.paragraph {
    @include text;

    font-size: 18px;
    font-weight: 400;

    &.paragraph--sm {
        font-size: 14px;
    }
}

/* <li> */
.list__item {
    @include text;

    max-width: 50%;
    margin-bottom: 5px;
    padding-left: 30px;
    background-image: url('../images/icons/check-circle.svg');
    background-repeat: no-repeat;
    background-position: left 5px;
    background-size: 18px;
    font-size: 18px;
    font-weight: 500;
}

/* SCREEN ADAPTATION */
/* tablets */
@media (max-width: vars.$tablet) {
    .list__item {
        max-width: 90%;
    }
}
