@use './vars';

@mixin text {
    color: var(--secondary-color);
    text-shadow: 0 0 1px rgba(vars.$black, 0.15);
    transition: vars.$transition;
    transition-property: color;
    letter-spacing: 1px;
}

.title {
    @include text;

    margin-bottom: 10px;
    font-size: 36px;
    font-weight: 700;

    &.title--lg {
        font-size: 48px;
    }
}

.subtitle {
    @include text;

    margin-bottom: 10px;
    font-size: 22px;
    font-weight: 500;
}

.paragraph {
    @include text;

    font-size: 18px;
    font-weight: 400;
}
